<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Languages" type="System.Configuration.NameValueSectionHandler" />
    <section name="Synonyms"  type="System.Configuration.NameValueSectionHandler" />
    <section name="Bulgaria"  type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="lastFilename" value="" />
    <add key="maxLoops"     value="100000" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" />
  </startup>
  <Languages>
    <add key="languages" value="Synonyms,Bulgaria" />
  </Languages>
  <Synonyms>
    <add key="writeln"  value ="println" />
    <add key="write"    value ="print" />
  </Synonyms>
  <Bulgaria>
    <add key="if"       value ="ако" />
    <add key="else"     value ="аконе" />
    <add key="elif"     value ="аконеи" />
    <add key="while"    value ="докато" />
    <add key="function" value ="функция" />
    <add key="size"     value ="размер" />
    <add key="read"     value ="Прочети" />
    <add key="writeln"  value ="печатля" />
    <add key="write"    value ="печат" />
  </Bulgaria>
</configuration>
